$main-background-colour : rgba(193, 249, 253, 0.253);
$font-size-large : 8rem;
$font-size-medium : 3rem;
$font-size-small : 2.5rem;

@mixin clearfix {
    content: "";
    display: block; 
    height: 0; 
    clear: both;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: $main-background-colour; 

}

h1,h2,h3,h4,h5,ul,li,p{
    margin: 0; 
    padding: 0;
}

h1{
    font-size: $font-size-large;
    text-align: center;
    margin: 2%;
}

p{
    font-size : $font-size-medium;
    text-align: center;
    margin : 2%;
}

a{
    font-size: $font-size-small;
    display: block;
    text-align: center;
}

li{
    font-size: $font-size-small;
}

img{
    width : 100px;
    height : 100px;
    object-fit: cover;
}

#login-wrapper{
    height: auto;
    margin: 0 auto;
}

#top-artists{
    width : 50rem;
    margin : 0 auto;
}

    .artist-container{
        width: 100%;  
        margin-top : 2%;
        margin-bottom : 2%;
        &:after{
            @include clearfix;
        }      
    }

        .image-container{
           float : left;
           overflow: auto;           
        }

        .text-container{
            float : right;
            width : 50%;
            display: inline-block;            
        }

