@import 'template';

.results-container{
    width : 50rem;
    height: 65rem;
    overflow-y: scroll;
    margin : 0 auto;    
}

.result-container{
    width: 100%;  
    margin-top : 2%;
    margin-bottom : 2%;        
    &:after{
        @include clearfix;
    }      
}

.spotify-uri{
    
}

.image{
    float : left;
    width : 20%;
    height: 10rem;        
    overflow: auto;           
}

.text-container{
    float : right;
    width : 80%;
    display: inline-block;            
}

.spotify-results{
    width: 30%;    
}

#top-artists-container{
    float : left;
    margin-left: 20%;    
}

#top-songs-container{
    float : right;
    margin-right: 20%;
}
