{
  "presets": [
    "@babel/preset-env", 
    "@babel/preset-react",
    ["@babel/stage-0", {"decoratorsLegacy" : true}],
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties"
  ],
  "env" : {
    "test" : {
      "plugins" : [
        "istanbul", 
        "rewire-exports"
      ]
    },
    "development" : {
        "presets": [
          ["@babel/preset-env", {
            "targets": {
              "browsers": ["last 2 Chrome versions"],
              "node" : "current"
            }
          }],
        ] 
    }
  },
  "sourceMaps": true,
  "retainLines": true
}
