{
  "presets": [
    ["@babel/preset-env", {
      "targets" : {
        "node" : "current"
      }
    }], 
    "@babel/preset-react",
    ["@babel/stage-0", {"decoratorsLegacy" : true}]
  ],
  "env" : {
    "test" : {
      "presets" : [
        "@babel/preset-env"
      ],
      "plugins" : [
        "istanbul", 
        "rewire-exports"
      ]
    },
  }
}