{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    ["@babel/stage-0", {"decoratorsLegacy" : true}],
    "@babel/stage-3"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env" : {
    "test" : {
      "plugins" : [
        "istanbul", 
        "rewire-exports"
      ]
    }
  },
  "sourceMaps": true
}
