{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "parser": "babel-eslint",
    "extends": [
        "prettier",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 9, 
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": ["prettier", "react", "mocha"],
    "rules": {
        "strict" : 0, 
        "prettier/prettier": "error",
        "no-console": "off",
        "no-unused-vars": [1, { "argsIgnorePattern": "next" }],
        "linebreak-style": ["error", "windows"]
    }
}
