<p>This is a results page</p>

<script>
    if (window.location.href.indexOf('?') > -1) {
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }    
    var accessToken = getParameterByName('accessToken');
    var refreshToken = getParameterByName('refreshToken');
    var expiry = getParameterByName('expiryIn');
    accessToken ? Token.setAccessToken(accessToken) : console.error('access token is ' + accessToken + ', did you change the name of the query string param?');
    refreshToken ? Token.setRefreshToken(refreshToken) : console.error('refresh token is ' + refreshToken + ', did you change the name of the query string param?');
    expiry ? Token.setAccessTokenExpiry(expiry) : console.error('expiry time is ' + expiry + ', did you change the name of the query string param?');
}
</script>