@import 'template';

.result-container{
    width: 100%;  
    margin-top : 2%;
    margin-bottom : 2%;        
    &:after{
        @include clearfix;
    }      
}

.image{
    float : left;
    width : 20%;
    height: 10rem;        
    overflow: auto;           
}

.text-container{
    float : right;
    width : 80%;
    display: inline-block;            
}

.spotify-results{
    margin: 2% 0;
    width: 100%;
    &:after{
        @include clearfix;
    }      
}
.results-header{
    height : 6%;
    margin: 0;
}

#react-apps-container{
    width: 100%;
}

