<script src="scripts/results/results.js"></script>
<link rel="stylesheet" href="styles/results.css">

<p>This is a results page</p>

{{!--
    NOTE: FOR REACT COMPONENTS USE ~ TO REMOVE WHITESPACE,
    OTHERWISE REACT WILL THROW WARNING ABOUT SERVER CLIENT MISMATCHES
--}}





{{#if ReactApps}}

    <div class="react-apps-container">
        {{~#each ReactApps~}}
            <div id="react-{{camelCaseToID @key}}" class="react-app">
                {{~{this}~}}
            </div>           
        {{~/each~}}

    </div>

   <script src="scripts/results/react-bundle.min.js"></script>
{{/if}}


{{!-- 
{{> spotify-results obj=Spotify}} --}}