<script src="scripts/results.js"></script>
<link rel="stylesheet" href="styles/results.css">

<p>This is a results page</p>

<!--
{{#if Spotify}}  
    {{> spotify-results obj=Spotify}}
{{/if}}-->

{{#if ReactApps}}
    <div class="react-apps-container">
        {{#each ReactApps as |ReactApp|}}
            <div id="root-{{formatStringForDiv @key}}">
                {{{ReactApp}}}
            </div>
        {{/each}}        
    </div>
   <script src="scripts/react-client.js"></script>
{{/if}}

