<script src="scripts/results.js"></script>
<link rel="stylesheet" href="styles/results.css">

<p>This is a results page</p>

{{!--
    NOTE: FOR REACT COMPONENTS USE ~ TO REMOVE WHITESPACE,
    OTHERWISE REACT WILL THROW WARNING ABOUT SERVER CLIENT MISMATCHES
--}}

{{#if Spotify}}  
    {{> spotify-results obj=Spotify}}
{{/if}}

{{#if ReactApps}}
    <div class="react-apps-container">
        {{~#each ReactApps~}}
            <div id="react-{{camelCaseToID @key}}">
                {{~{this}~}}
            </div>           
        {{~/each~}}
    </div>
   <script src="scripts/react-bundle.min.js"></script>
{{/if}}