{{> layout }}

<div id="root">
    <div id="tracks">{{{react.apps.tracks.html}}}</div>
    <div style="transform: translateY(4rem)" id="second"></div>
</div>


<script id="react">
    window.__initial_state__ = {{{get-data-for-react react.props}}}
</script>

<!-- CALL THIS LAST -->
<script src="/results.js"></script>