
This is the results page

<div id="root">
    <div id="tracks"></div>
    <div id="artists"></div>
</div>

{{> layout}}

<script id="react">
    window.__initial_state__ = {{{state data}}}
</script>


{{#if data.react.tracks.css}}
    exists
{{/if}}

<style id="jss-server-side">{{data.react.tracks.css}}</style>


<!-- CALL THIS LAST --> 
<script src="/results.js"></script>